<%= form_with model: @produto do |formulario|%>
    <div class = "container-formulario">
        <%=formulario.label :nome%>
        <%=formulario.text_field :nome, placeholder: "Digite o nome do Produto", class: "text-input"%>

        <%=formulario.submit "Salvar Produto", class: "botao-enviar"%>

    </div>
<%end%>