/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    background-color: #474747;
    color: white;
    font-family: Inter;

 }

 .titulo-formulario {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;  
    margin: 0px; 
 }

 .container-formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    
 }

 .outer-container {
    width: 800px;
    margin: 60px auto 0 auto;

 }

 .text-input {
    padding: 9px;
    border-radius: 6px;
 }

 .botao-enviar  {
    background-color: #34DAFF;
    color: white;
    padding: 10px;
    width: 155px;
    border-radius: 8px;
    border: 0;
    align-self: flex-end;
    margin: 0px;
    cursor: pointer;
    transition: 0.5s; 
    text-decoration: none;
    font-size: 14px;
    text-align: center;
 }

 .botao-enviar:hover {
   background-color: #2db5d4;
   
 }

 .used-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .container-produtos {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
 }

 .container-geral {
   background-color: black;
   margin-bottom: 20px;
   margin-top: 32px;
   border-radius: 25px;
   box-shadow: 0px 0px 5px 3px #2db5d4;
   padding: 7px 25px 7px 25px;
 }

 .container-geral h3 {
   font-size: 18px;
 }


 .link {
   color: white;
   text-decoration: none;
   font-size: 12px;
   margin-left: 15px;
 }

 .grow {
  flex-grow: 1;
 }

 .gap {
  gap: 200px;
 }

 .colunas-formulario {
  display: flex;
  gap: 70px;
  
 }